<% provide(:title, "All users") %>

<h1>All users </h1>
<div class="row">
	<div class="span3">
	<%= form_tag(users_path, method: :get) do %>
		<%= text_field_tag :search, params[:search] %>
		<%= submit_tag "Search", name: nil, class: "btn btn-primary" %>
	<% end %>
	</div>
</div>

<div>
<% if @users.length > 0 %>
	<%= will_paginate %>

<ul class="users">
	<%= render @users %>
</ul>

	<%= will_paginate %>
<% else %>

<p><b>That User could not be found</b></p>

<% end %>
</div>