<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>

    <section>
    	micropost form
    	<%= form_for(@user.microposts) do |f| %>
    		<%= f.label :content %>
    		<%= f.text_field :content %>

    		<%= f.submit "New Post", class: "btn" %>
    	<% end %>
    </section>
  </aside>

  <aside class="span6" >
  	<h1>
  		Microposts
  	</h1>

  	<% if @user.microposts.any? %>
  		<% @user.microposts.to_a.each do |post| %>
  			<section>
  				<%= post.content %>
  				Created at <%= post.created_at %>
  			</section>
  		<% end %>
  	<% end %>
  </aside>
</div>