<li id="<%= feed_item.id %>">
	<%= link_to gravatar_for(feed_item.user), feed_item.user %>
	<span class="user">
		<%= link_to feed_item.user.name, feed_item.user %>
	</span>
	<span class="content"> <%= wrap(feed_item.content) %></span>
	<span class="timestamp">
	<% if current_user?(feed_item.user) %>
		<%= wrap("Posted " + time_ago_in_words(feed_item.created_at)+ " ago. " ) %> <%= render 'shared/delete', 		micropost: feed_item %>
	<% else %>
		<%= wrap("Posted " + time_ago_in_words(feed_item.created_at)+ " ago. " ) %>
	<% end%>
	</span>
</li>